body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#app {
  text-align: center;
  font-size: 24px; /* Adjust font size as needed */
}

#arrayContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
}

.rectangle {
  background: linear-gradient(to bottom, #3498db, #2980b9);
  border: 1px solid #2980b9;
  margin: 0 1px; /* Adjust margin as needed */
  transition: height 0.3s;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

#rectangleSlider {
  margin-top: 60px;
}

#sliderValue {
  display: inline-block;
  margin-left: 30px;
  color: #555;
  font-size: 32px; /* Adjust font size as needed */
}

#sortButton {
  margin-top: 60px;
  padding: 15px 25px;
  background: linear-gradient(to bottom, #2ecc71, #27ae60);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust font size as needed */
  transition: background 0.3s;
  border-radius: 10px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

#sortButton:hover {
  background: linear-gradient(to bottom, #27ae60, #219653);
}

#automateAlgorithm {
  margin-left: 30px;
  font-size: 28px; /* Adjust font size as needed */
}

#toolbar {
  text-align: center;
  margin-top: 100px;
}
